body {
    align-content: center;
    text-align: center;
    justify-content: center;
   /* background-image: url(https://cdn.discordapp.com/attachments/619533680158834689/668779123971194890/werkzaamheden.png); */
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: green;
    color: #00aec2;
}
.video {
    width: 400px; 
    display: inline-block;
    margin: auto;
}

.Warning {
    color: red !important;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
img {
    width: 15px;
}
.navbar {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}
button.navbar {
    color: currentColor;
    border-radius: 300%;
    background-color: transparent;
    border-color: black;
    cursor: pointer;
}
button {
    color: unset;
    /*border-radius: 150%;*/
    background-color: unset;
    border-color: black;
    border-width: thin;
    cursor: pointer;
}
a {
    color: black;
    text-decoration: none;
}
.Police {
    color: white;
    background-color: blue;
}
.RAID {
    text-decoration: white;
    color: white;
    background-color: black;
}
.Pompiers {
    color: black;
    background-color: red;
}
.Ambulance {
    color: black;
    background-color: yellow;
}
.Commune {
    color: white;
    background-color: brown;
}
.breaking_news {
display: flex;
flex-flow: column;
}
.solli {
    display: inline-flex;
    align-content: flex-end;
    justify-content: flex-end;
}